:root{
    --very-light-pink:rgba(253, 225, 225, 0.877) ;
    --indianred: indianred;
    --gray: rgb(83, 83, 83);
    --white: #FFFFFF;
    --black: #000000;

}
*{
    padding: 0px;
    margin: 0 px;
    box-sizing: border-box;
    font-family: 'Oxygen', sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--very-light-pink);
    
    
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    font-size: 40px;
    color: var(--indianred);
    font-weight: 700;
    margin-right: 10px;
}
#icon{
    color:var(--indianred);
    height: 50px;
    width: 50px;
    margin: 0px;

}
#randomMichis{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;

}
h2{
    color: var(--indianred);
}
#favoritesMichis{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#favoritesCats{
    display: flex;
    width: 80vw;
    justify-content: space-around;
    flex-wrap: wrap;
    
}
#divFav{
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
    width: 180px;
    height: 180px;
    margin: 20px;
    position: relative;
}
#divrandom{
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
    width: 180px;
    height: 180px;
    margin-bottom: 20px;
    position: relative;
}
button{

    color: rgb(83, 83, 83);
    border-radius: 5px;
    padding: 4px;
    margin-bottom: 10px;
    font-weight: 700;
    border-color: rgb(83, 83, 83);
}

#btn1{
    margin: 0;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    background-color: white;
    position: absolute;
    right: 0;
    bottom: 0;
}

#btn2{
    margin: 0;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    background-color: white;
    position: absolute;
    right: 0;
    bottom: 0;
}

#favorite-icon{
    height: 25px;
    width: 25px;
}
#favorite-icon:hover{
    content: url('https://cdn-icons-png.flaticon.com/512/1076/1076984.png');
}
#favorite-icon-pink{
    height: 25px;
    width: 25px;
}
#favorite-icon-pink:hover{
    content: url(https://cdn-icons-png.flaticon.com/512/1077/1077035.png);
}
button:hover{
    background-color: rgba(224, 224, 224, 0.945);
}
#newFile{
    background-color: var(--very-light-pink);
    color: var(--indianred);
    border-radius: 5px;
    padding: 8px;
    margin-bottom: 10px;
}
#newCatTitle{
    text-align: center;
}

